@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        Good Morning, everyone, it is a pleasure to finally meet you. Today in this space we will go over my technical skills in a remote interview session through which I will demonstrate to be the software developer Laivly is looking for.
    </p>
    </p>The people involved in this meeting are: Frank Bueckert, Rodrigo Raval and My Self (Javier)</p>
    

</div>
